// Dark mode that is gonna override the whole theme
html.dark{
  background: $dark-bg-primary;
  color: $dark-text-primary;

  * {
    color: $dark-text-primary;
  }

  .external-link-color {
    color: $nord8;

    &:hover {
      color: $nord11;
    }
  }

  .btn {
    &.btn-primary {
      border: none;
    }
  }
}
