// Global style
@import 'variables';
@import 'dark';

$root-font-size: 16px;


// Colors

$c-white: #ffffff;
$c-black: #000000;

@function rem($values...) {
  // Check if a single value is passed
  @if length($values) == 1 {
    $value: nth($values, 1);
    @return math.div($value, $root-font-size) * 1rem;
  }
  // Handle multiple values
  @else {
    $rem-values: ();
    @each $value in $values {
      $rem-values: append($rem-values, math.div($value, $root-font-size) * 1rem);
    }
    @return $rem-values;
  }
}

/* Layout */
html {
  background: $bg-primary;
  color: $text-primary;
  transition: all 400ms ease-in-out 0s;

  * {
    color: $text-primary;
    text-decoration: none;
  }

  body {
    padding: 0;
    margin: 0;
  }

  // .container {
  //   width: 100%;
  //   margin: 0 auto;
  //   // padding: 0 1.5em;
  //   padding-top: 2.5em;
  //   padding-bottom: 2.5em;
  // }

  .overflow-hidden {
    overflow: hidden;
  }

  .external-link-color {
    color: $nord7;

    &:hover {
      color: $nord11;
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    padding: 0.675em 1.5em;
    border-radius: 0.25em;
    margin: 0 0.5em;
    cursor: pointer;
    font-size: 1.1em;
    text-decoration: none;
    transition: all 200ms ease-in 0s;
    vertical-align: middle;

    &.btn-primary {
      border: 1px solid $bg-secondary;
      background: $dark-bg-secondary;
      color: $text-secondary;

      &:hover {
        background: $nord7;
        color: $text-primary;
      }
    }

    &.btn-info {
      border: 1px solid $bg-secondary;
      background: transparent;

      &:hover {
        border: 1px solid $nord5;
        background: $nord5;
        color: $nord8;
      }
    }
  }
}
