// Global style
@import 'variables';
@import 'nord';

$root-font-size: 16px;

// Colors
$c-white: #FFFFFF;
$c-black: #000000;
$c-dark-text: $nord6; //#ECEFF4
$c-dark-text-secondary: $nord4; //#D8DEE9

// Breakpoints
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

// Functions 
// -> Px to Rem 
@function rem($values...) {
  // Check if a single value is passed
  @if length($values) == 1 {
    $value: nth($values, 1);
    @return math.div($value, $root-font-size) * 1rem;
  }
  // Handle multiple values
  @else {
    $rem-values: ();
    @each $value in $values {
      $rem-values: append($rem-values, math.div($value, $root-font-size) * 1rem);
    }
    @return $rem-values;
  }
}

// -> Breakpoints
@mixin breakpoint($breakpoint) {
  $width: map-get($breakpoints, $breakpoint);

  @if $width {
    @media (min-width: $width) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint: #{$breakpoint}.";
  }
}

/* Layout */
html {
  background: $bg-primary;
  color: $text-primary;

  * {
    color: $text-primary;
  }
}

html.dark{
  background: $dark-bg-primary;
  color: $dark-text-primary;

  * {
    color: $dark-text-primary;
  }
}
